<%- include("partials/header") %>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="" class="nav__logo">Jimmy</a>
        </nav>
    </header>

    <main class="main">
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__greeting">Hello I'm</span>
                    <h1 class="home__name">Jimmy Chandra</h1>
                    <h3 class="home__education">Fullstack Developer</h3>  
                </div>
                <div class="home__social">
                    <a href="https://github.com/Jimmy248" class="home__social-link">
                        <i class='bx bxl-github'></i>
                    </a>
                </div>

                <a href="" class="home__scroll">
                    <i class='bx bx-mouse-alt home__scroll-icon' ></i>
                    <span class="home__scroll-name">Scroll Down</span>
                </a>
            </div>
        </section>
        <section class="about section" id="about">
            <span class="section__subtitle">My Intro</span>
            <h2 class="section__title">About me</h2>

            <div class="about__container container grid">
                <div class="about__data">
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bx-briefcase about__icon' ></i>
                            <h3 class="about__title">Projects</h3>
                            <span class="about__subtitle">2 + Projects</span>
                        </div>
                    </div>

                    <p class="about__description">
                        I'm Developer with Frontend and Backend skills. 
                    </p>
                </div>
            </div>
        </section>
        <section class="skills section" id="skills">
            <span class="section__subtitle">My abilities</span>
            <h2 class="section__title">My Experience</h2>

            <div class="skills__container container grid">
                <div class="skills__content">
                    <h3 class="skills__title">Frontend Developer</h3>

                    <div class="skills__box">
                        <div class="skills__group">
                            <div class="skills__data">
                                <i class='bx bx-badge-check' ></i>

                                <div>
                                    <h3 class="skills__name">HTML</h3>
                                </div>
                            </div>
                            <div class="skills__data">
                                <i class='bx bx-badge-check' ></i>

                                <div>
                                    <h3 class="skills__name">CSS</h3>
                                </div>
                            </div>
                            <div class="skills__data">
                                <i class='bx bx-badge-check' ></i>

                                <div>
                                    <h3 class="skills__name">JavaScript</h3>
                                </div>
                            </div>
                        </div>
                        <div class="skills__group">
                            <div class="skills__data">
                                <i class='bx bx-badge-check' ></i>

                                <div>
                                    <h3 class="skills__name">Bootstrap</h3>
                                </div>
                            </div>
                            <div class="skills__data">
                                <i class='bx bx-badge-check' ></i>

                                <div>
                                    <h3 class="skills__name">Git</h3>
                                </div>
                            </div>
                            <div class="skills__data">
                                <i class='bx bx-badge-check' ></i>

                                <div>
                                    <h3 class="skills__name">React</h3>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="skills__content">
                <h3 class="skills__title">Backend Developer</h3>

                <div class="skills__box">
                    <div class="skills__group">
                        <div class="skills__data">
                            <i class='bx bx-badge-check' ></i>

                            <div>
                                <h3 class="skills__name">Node Js</h3>
                            </div>
                        </div>
                        <div class="skills__data">
                            <i class='bx bx-badge-check' ></i>

                            <div>
                                <h3 class="skills__name">SQL</h3>
                            </div>
                        </div>
                        <div class="skills__data">
                            <i class='bx bx-badge-check' ></i>

                            <div>
                                <h3 class="skills__name">MongoDB</h3>
                            </div>
                        </div>
                    </div>
                    <div class="skills__group">
                        <div class="skills__data">
                            <i class='bx bx-badge-check' ></i>

                            <div>
                                <h3 class="skills__name">Mongoose</h3>
                            </div>
                        </div>
                        <div class="skills__data">
                            <i class='bx bx-badge-check' ></i>

                            <div>
                                <h3 class="skills__name">Express Js</h3>
                            </div>
                        </div>
                        <div class="skills__data">
                            <i class='bx bx-badge-check' ></i>

                            <div>
                                <h3 class="skills__name">EJS</h3>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <section class="work section" id="work">
            <span class="section__subtitle">My Project</span>
            <h2 class="section__title">Works</h2>

            <div class="work__filters">
                <span class="work__item">
                    <i class='bx bxs-chevron-right' ></i>
                    <a href="https://github.com/Jimmy248/coffee-shop" class="work__item-link">Coffee Shop</a>
                </span>
                <span class="work__item">
                    <i class='bx bxs-chevron-right' ></i>
                    <a href="https://github.com/Jimmy248/keeper-app" class="work__item-link">Keeper App</a>
                </span>
            </div>
        </section>
        <section class="contact section" id="contact">
            <span class="section__subtitle">Get in touch</span>
            <h2 class="section__title">Contact Me</h2>

            <div class="contact__container container grid">
                <div class="contact__content">
                    <h3 class="contact__title">Talk to me</h3>

                    <div class="contact__info">
                        <div class="contact__card">
                            <i class='bx bx-mail-send contact__card-icon' ></i>
                            <h3 class="contact__card-title">Email</h3>
                            <span class="contact__card-data">jimmychandra98@gmail.com</span>
                        </div>
                        <div class="contact__card">
                            <i class='bx bxl-whatsapp contact__card-icon' ></i>
                            <h3 class="contact__card-title">Whatsapp</h3>
                            <span class="contact__card-data">+6281236763190</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container container">
            <span class="footer__copy">
                <i class='bx bx-copyright' ></i>
                copyright
            </span>
        </div>
    </footer>
</body>

<%- include("partials/footer") %>